tests = []

[problem]
name = ""
group = ""

[run]
time_limit_ms = 10000
checker = "token_checker"
interactive = false
stop_on_first_failure = false

[display]
hide_accepted_tests = true
truncate_long_output = false

[generation]
enabled = false
test_count = 0
seed = ""
args = ""
expected_output_from_slow = false
