task_editor_exec = "cpcli_editor"
use_template_engine = false

[language_config]
default = "cpp"

[language_config.override]

[language_config.cpp]
compiler = "g++"
regular_flag = "-DLOCAL -O2 -std=c++17"
debug_flag = "-DLOCAL -Wall -Wshadow -std=c++17 -g -fsanitize=address -fsanitize=undefined -D_GLIBCXX_DEBUG"

[language_config.cu]
compiler = "cpcli_cuda_compile"
runtime = "cpcli_cuda_run"
regular_flag = "-std=c++17 -O2 -lineinfo -Wno-deprecated-gpu-targets -gencode arch=compute_70,code=compute_70"
debug_flag = "-std=c++17 -O0 -g -lineinfo -Wno-deprecated-gpu-targets -gencode arch=compute_70,code=compute_70"

[language_config.py]
interpreter = "python"

[language_config.java]
compiler = "javac"
runtime = "java"
regular_flag = ""
debug_flag = ""

[language_config.rs]
compiler = "rustc"
regular_flag = "-O --crate-type bin --edition=2018 -C overflow-checks=on"
